._btn {
  margin: 20px;
  width: 150px;
  vertical-align: center;
}

._buttonBar {
  display: flex;
  width: 350px;
  margin: 0 auto;
}

._title {
  border-radius: 5px;
  padding: 2px 5px 4px;
  border: 0.5px dashed cadetblue;
  color: cadetblue;
  font-size: 20px;
  font-weight: bold;
}